/* Source/Styles/base.css */

:root {
    --bg: rgba(0, 0, 0, .45);
    --bg2: rgba(0, 0, 0, .60);
    --bd: rgba(255, 255, 255, .08);
    --wh: rgba(255, 255, 255, .9);
    --px: 4px;
}

* {
    box-sizing: border-box;
    user-select: none;
}

html,
body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    background: #69b7ff;
}

body {
    font-family: "Jersey 10", sans-serif;
}

#c {
    width: 100%;
    height: 100%;
    display: block;
}